body {
    background-color: #fab27f;
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 20px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#doraImage {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

#bootsImage {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}


#content {
    text-align: center;
}

h1 {
    color: #c21051;
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    color: #c21051;
    font-size: 24px;
    margin-bottom: 10px;
}

button {
    background-color: #f07dba;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #9d4e2e;
}

p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

section {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#story {
    font-size: 20px;
    margin-top: 20px;
}
